.text{
  color: white;
  text-align: center;
}

body{
  background-color: black;
  font-family: verdana;
}

#title{
  font-weight: normal;
  font-size: 50px;
}

#link{
  color: aquamarine;
  font-size: 16px;
}

#video{
  margin: 0 auto; width: 400px;
}

#subheading{
  font-weight: 300;
  font-size: 42px;
}

#contrast{
font-size: 21px;
color: gray;
}

#copyright{
  text-align: right;
  font-size: 21px;
  color: gray;
}
